@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base por si acaso */
body {
  margin: 0;
  background-color: #020617;
  color: #f8fafc;
  font-family: system-ui, -apple-system, sans-serif;
}